extends ../layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | List of CSV File Uploads

  .btn-group.btn-group-justified#event-emiter
    a.btn.btn-success(href="/api/upload")
      i.fa.fa-laptop
      | Upload Files
    a.btn.btn-danger(href='/api/files/delete')
      i.fa.fa-book
      | Empty files list

  - console.log(files)
  h3 Files already uploaded
  .row
    .col-sm-12
      p Due to #[a(href="https://mlab.com") mongolab] hosting plan currently we are limited to 500MB file uploads
      table.table
        thead
          tr
            th #
            th Upload Date
            th Upload Duration(s)
            th File name
            th Status
            th Email column
            th Size (MB)
            th actions
        tbody
          each file, i in files
            tr
              - var x = file.toObject()
              th(scope='row') #{i+1}
              td #{file.uploadStartDate}
              td=x.duration
              td #{file.originalName}
              td #{file.status}
              td #{file.emailColumn}
              td=(x.size/1024/1024).toFixed(3)
              td
                button.btn.btn-primary.btn-xs.upload-btn
                 i(style={margin: '0'}).fa.fa-download
                a.btn.btn-danger.btn-xs.upload-btn(href='/api/files/' + x.id + '/delete')
                 | X
